<ion-view view-title="Messages" ng-init="loadMessages()">
    <ion-content style="background-color: lightgray;bottom: 0px;">
        <ion-list>
            <ion-item ng-repeat="message in inboxMessages"
                      Style="border-style: none;background-color:transparent;padding-bottom:0px ">
                <div class="card" style="margin:0px;padding: 0px">
                    <div class="row">
                        <div class="col col-20">
                            <img width="100%" src="https://media.licdn.com/media/p/8/000/1e6/0f5/0db7dac.jpg">
                        </div>
                        <div class="col col-80">
                            <div class="row">
                                <div class="col col-20"><h3><b>From:</b></h3></div>
                                <div class="col col-33">{{message.From}}</div>
                                <div class="col col-20"></div>
                                <div class="col col-20" style="color: #0000ff">{{message.MessageDate}}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h3><b>{{message.MessageSubject}}</b></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5>{{message.MessageContent}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
